// Your footer style

#footer {
	color: white;
	i {
	font-size: 40px;
	}
	a {
		font-size: 25px;
		color : white;
	&:hover {
		color: $yellow;
		text-decoration: none;
	}
	}
	h6 {
		font-size:20px;
		color: $yellow;
	}
}

.footer-div {
	width:50%;
	@media (max-width:610px) {
		width:100%;
	}
}

#copyrights {
	font-size : 12px;
	i {
		font-size: 12px;
	}
}

.padding-top {
	padding-top: 2em;
}

label {
	display:inline block;
	font-size:20px;
}