---
title: Conditions générales de UNIT, club de sport 2.0
---

<div id="conditions_generales" class="container padded bg-white text-designed">
	<h2 class="text-center">Conditions générales d'utilisation</h2>
	
	<div class="text-justify">
		<p class="padded-top">
			<em>Date d'entrée en vigueur : le 27 janvier 2017</em>
		</p>
		<p>
			UNIT permet la mise en relation entre des Animateurs sportifs et des groupes de particuiliers via un <a href="http://www.unit-sport.fr"> site Internet</a>. Les présentes Conditions Générales régissent les relations entre UNIT et les Utilisateurs, et l'utilisation des services suppose leur acceptation sans réserve. Ces conditions régissent en particulier les règles de porposition de séance d'un Animateur et de participation à une séance d'un Uniter, et des droits et obligations des différentes parties dans ce cadre. Toute personne proposant ou participant à une séance est supposé avoir lu et avoir accepté ces conditions générales, et UNIT ne serait en aucun cas être tenue pour responsable d’une mauvaise utilisation des Services, notamment de l’utilisation frauduleuse ou illégale, et aucun recours ne pourra être engagée contre elle à ce titre. Pour toute information complémentaire, vous pouvez contacter UNIT, SARL immatriculée au RCS de Lyon sous le numéro 821 764 677 et peut être contactée par <a href="mailto:contact@unit-sport.fr">mail</a>, par <a href="tel:0637395871">téléphone (06.37.39.58.71)</a> ou par voie postal (55 rue Saint Georges, 69005 Lyon). Elle est représentée par Félix Hanicotte et Lucas Rinaldi, ses co-gérants.
		</p>
		<p>
			Les Utilisateurs sont les Animateurs, qui proposent leur service via le Site de UNIT et encadrent les séances de sport, et les Uniters, qui y participent en réservant et en payant en ligne. Les séances sont composées de 12 personnes maximum, en plus de l'Animateur. Dans un premier temps, la proposition de séance et la participation se matérialisent par la souscription à un questionnaire, et à chaque fois les Utilisateurs sont invités à matérialiser leur accord avec les Conditions Générales. Par souci de clarté, les Conditions alors acceptées sont spécifiques à leurs conditions d'Animateur ou de Uniter. Elles sont ici divisées en trois parties, selon qu'elles soient propres aux Uniters, aux Animateurs ou communes aux deux parties.
		</p>
		<p>
			UNIT est tiers au contrat conclu entre l’Animateur et le Uniter, il n’est que l’intermédiaire entre les deux mais les Utilisateurs sont libres de participer aux séances librement proposées par les Animateurs. Les présentes Conditions Générales d'Utilisation ne règlent que les modalités d’inscription des Uniters dans le cadre de la mise en relation, et les modalités de proposition de séances des Animateurs et de la mise en relation dans ce cadre.
		</p>
	</div>

	<h3 class="padded-top">Conditions générales concernant les Utilisateurs</h3>

		<div class="text-justify">
			<p class="padded-top">
				Les Services sont accessibles exclusivement aux personnes physiques disposant de la majorité dans leur pays en vigueur, 18 ans en France, et disposant de la pleine capacité juridique pour s’engager. En s’inscrivant et en participant à chaque séance, ou en les proposant, les utilisateurs confirment remplir les conditions de majorité et de capacité. Dans le cas particulier ou un utilisateur réserve une séance pour le compte d'une ou plusieurs autres personnes, le premier confirme que les autres remplissent ces deux conditions et engage sa propre responsabilité en cas d'information erronnée.
			</p>
			<p>
				Etant majeurs et capables, les Utilisateurs sont responsables de leur sécurité et s’engagent à ne proposer ou à ne participer qu'à des Séances si, et seulement si, ils en sont capables, notamment si leur santé leur permet de pratiquer une activité physique. UNIT ne saurait être tenue pour responsable des dommages subis par un Utilisateur lors d’une Séance trop intense, ou plus généralement des dommages physiques ou mentaux liés à la participation à une Séance. 
			</p>
			<p>
				Les Utilisateurs sont seuls responsables de leur utilisation des Services, et notamment des relations avec les autres Utilisateurs et les informations communiquées dans ce cadre, et il leur convient d’exercer la prudence et le discernement appropriés. En outre, les règles élémentaires, telles que la politesse, la courtoisie ou encore la ponctualité, doivent être respectées par les Utilisateurs. A ce titre, les Utilisateurs s’engagent à ne publier sous aucun prétexte des contenus à caractère discriminants, quelle que soit la discrimination visée, qu’elle vise notamment le physique, l’ethnie, la religion, le genre ou encore le handicap.  Les Utilisateurs sont responsables de leur propre sécurité et de leur propre santé, et ne doivent participer à des Séances que s’ils sont capables de le faire. Ils s’engagent à respecter l’ensemble des lois et règlements, notamment durant la séance, et particulièrement en cas d’accident où ils doivent tout mettre en œuvre pour protéger la sécurité des autres Utilisateurs. Ainsi, les Utilisateurs s’engagent à ne plus utiliser les Services dans l’hypothèse où ils ne rempliraient plus ces mesures de sécurité obligatoires. 
			</p>
			<p>
				Les Utilisateurs s’engagent à ne conserver aucune donnée sur les autres Utilisateurs obtenus grâce à l’utilisation des Services (prénom, numéro de téléphone, adresse, etc.), sous peine de sanctions possibles selon les modalités prévues à l’article 8 des présentes Conditions Générales. 
			</p>
			<p>
				Les utilisateurs s’engagent à ne pas procéder à une intrusion dans le système informatique d’un tiers ou toute activité de nature à nuire, contrôler, interférer, ou intercepter tout ou partie du système informatique d’un tiers, en violer l’intégrité ou la sécurité ; ni à l’envoi d’emails non sollicités et/ou de prospection ou sollicitation commerciale ; ni plus généralement à détourner les Services à des fins autres que celles pour lesquelles ils ont été conçus, sous peine de poursuites.
			</p>
			<p>
				L’Utilisateur s’engagent à indemniser UNIT de tout préjudice qu’elle pourrait subir du fait de la violation par l’Utilisateur d’une de ses obligations découlant des présentes Conditions Générales, et de lui payer les frais, charges ou condamnations que UNIT pourrait avoir à supporter de ce fait. De plus, l’Utilisateur garantit UNIT contre toutes les plaintes, réclamations, actions ou revendications quelconques que UNIT pourrait subir de par la mauvaise utilisation des Services de l’Utilisateur, notamment due à la violation d’une ou plusieurs obligations découlant des présentes Conditions Générales. 
			</p>
			<p>
				Les Utilisateurs s’engagent à ne pas copier et/ou de détourner à leurs fins ou à celles de tiers le concept, les technologies ou tout autre élément des logiciels de UNIT. Tous les logiciels, systèmes techniques, structures, bases de données et contenus (visuels, images, textes, logos, marques, etc.), mis en place pour mettre en place les Services de UNIT, sont sa propriété intégrale. De ce fait, ils sont protégés par les droits et règlements en vigueur. Ainsi, tous copies, désassemblages, décompilations, décryptages, extractions, réutilisations, et plus généralement toute utilisation de l’un quelconque de ces éléments en toute ou partie sans l’autorisation expresse et écrite de UNIT à toutes fins que ce soient sont expressément interdites et constitues des contrefaçons qui pourront faire l’objet de poursuites judiciaires. 
			</p>
			<p class="padded-top">
				Dans le cadre de la fourniture de ses services, UNIT doit prélever un certain nombre d’informations sur l’utilisateur qui veut réserver une séance, notamment le nom, le prénom, l’âge, l’adresse mail, le numéro de téléphone, les coordonnées bancaires (qui ne sont pas stockées). Ces informations doivent être exactes et non erronées, et toute information qui n’est pas exacte entraînera l’annulation de la participation du Uniter. Il est seul responsable de l’exactitude des informations fournies à UNIT. La collecte et la gestion des Données Personnelles de UNIT est conforme à la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, dans sa version modifiée actuelle. Celles-ci ont d’ailleurs fait l’objet de formalités déclaratives préalables auprès de la CNIL sous le numéro 1991381. Le responsable est la société UNIT définie ci-dessus et représentée par ses co-gérants désignés ci-dessus. 
			</p>
			<p>
				Cette collecte permet de gérer l’accès au services fournis par UNIT, de gérer les avis sur des avis des personnes, les impayés et contentieux éventuels, et de respecter nos obligations légales et règlementaires en plus de réaliser des études statistiques. Elle conservera ces données pendant toute la durée de l’utilisation des services, c’est-à-dire pendant la durée de la gestion de la relation commerciale entre UNIT et les Uniters, qui sera d’un maximum après la réservation de la dernière séance par l’utilisateur. Les coordonnées bancaires demandées aux utilisateurs lors de leur participation à une séance sont collectées par Stripe et UNIT, étant tiers à cette collecte, ne collecte ni ne stocke les coordonnées bancaires des individus et ne saurait être tenue pour responsable d’une mauvaise collecte ou gestion de celles-ci. 
			</p>
		</div>

	<h3 class="padded-top">Conditions générales concernant les Uniters</h3>

		<p class="padded-top">
			Pour participer à une séance, il faut remplir le questionnaire prévu à cet effet pour chaque séance. Le questionnaire est accessible en ligne et vaut demande de participation. Chaque participation sera validée par le paiement de 6,00 € TTC par place réservée, et se fait via une application tierce spécialisée en cette matière. En acceptant ces conditions générales, les Uniters acceptent librement et expressément que UNIT prélève de l'argent avant la séance pour le compte de l'Animateur qui encadrera leur séance, et qu'elle lui reversera postérieurement à la séance. 
		</p>
		<p>
			Toute séance postée sur le site et qui n’a finalement pas lieu, pour toute raison, ouvre un droit au remboursement du Uniter qui y participait. Il a alors le choix de se faire rembourser des 6€ par quelque moyen que ce soit, ou de participer à toute autre séance de son choix sans frais. Ce choix aura également lieu si le Uniter annule sa participation plus de 24 heures avant le début de la séance. S’il annule moins de 24 heures avant le début, il n’aura droit ni au remboursement ni à la participation sans frais à une autre séance. 
		</p>
		<p>
			Les Utilisateurs sont expressément informés qu’en acceptant les Conditions ils renoncent expressément à leur droit de rétractation de 14 jours à compter de la conclusion des contrats puisque les Services leurs sont fournis dès la confirmation de leur participation et sont pleinement exécutés avant la fin du délai visé ci-dessus. 
		</p>

	<h3 class="padded-top">Conditions générales concernant les Animateurs</h3>

		<p class="padded-top">
			Les Services sont accessibles exclusivement aux personnes physiques disposant de la majorité et de la pleine capacité juridique pour s’engager. En s’inscrivant et en participant à chaque séance, les utilisateurs confirment remplir les conditions. De plus, les Animateurs doivent cumuler deux conditions cumulatives pour pouvoir proposer ses services sur UNIT : avoir une carte professionnel d’éducateur sportive accessible à toute personne ayant un diplôme a minima égal à celui de la deuxième année de licence STAPS ; et avoir un statut de micro-entrepreneur afin de déclarer leur activité. En effet, UNIT ne propose en aucun un travail mais leur permet d’exercer librement leur activité non salariée en leur demandant une commission pour chaque séance qu’ils encadrent grâce à la plateforme UNIT. Pour les premières séances, les Animateurs sont rémunérés 24 euros TTC pour une séance d’une heure et demie, le reste étant reversé à la plateforme UNIT au titre de la mise en relation. Afin d’être payés, les Animateurs devront préalablement à la séance avoir transmis à UNIT leurs coordonnées téléphoniques pour que le règlement puisse avoir lieu via une application tierce. En acceptant ces conditions générales, les Animateurs acceptent librement et expressément que UNIT prélève de l'argent auprès des Uniters, avant la séance, en leur nom et pour leur compte, argent qu'elle leur versera postérieurement à la séance.  
		</p>
		<p>
			En proposant leurs services, les Animateurs confirment remplir les deux conditions cumulatives, sinon ils s’exposent à un encadrement illégal de l’activité sportive. UNIT ne saurait en aucun cas être tenue pour responsable si les Animateurs ne remplissent pas l’une des deux conditions. A ce titre, les Animateurs ne pourront intenter aucun recours en responsabilité contre UNIT. En outre, les Animateurs s’engagent à encadrer uniquement les sports et les niveaux qu’ils ont le droit d’encadrer selon les diplômes et la carte obtenus. UNIT ne sera en aucun cas tenu pour responsable en cas d’encadrement d’une Séance par un coach qui n’était pas de son ressort. A ce titre, les Animateurs ne pourront intenter aucun recours en responsabilité contre UNIT.
		</p>
		<p>
			UNIT, par l’intermédiaire de son assureur AXA, fait bénéficier de son assurance de responsabilité civile professionnelle à chaque Animateur encadrant une séance par l’intermédiaire de UNIT sous réserve qu’il remplisse expressément les deux conditions cumulatives. Dans le cas contraire, l’Animateur sera seul responsable en cas de tout dommage et UNIT ne saurait en aucun cas être tenu pour responsable pour quelque dommage que ce soit. 
		</p>
		<p>
			La proposition d’une séance se fait matériellement par le remplissage d’un questionnaire en ligne envoyé par nos services aux Animateurs qui le demandent, notamment par Facebook ou tout autre moyen utile. C’est à cette occasion que les Animateurs acceptent expressément les présentes Conditions Générales et confirment remplir toutes les conditions nécessaires à l’encadrement d’une activité sportive contre rémunération évoquées ci-dessus. UNIT se réserve le droit de refuser de poster, de manière tout à fait arbitraire, une séance pour n’importe quel motif, notamment si elle estime que la séance ne sera pas composée d’assez de Uniters pour qu’elle soit confirmée, et l’Animateur ne pourra engager aucune action en recours contre celle-ci. 
		</p>
		<p>
			Les utilisateurs sont expressément informés qu’en acceptant les Conditions ils renoncent expressément à leur droit de rétractation de 14 jours à compter de la conclusion des contrats puisque les Services leurs sont fournis dès la confirmation de leur participation et sont pleinement exécutés avant la fin du délai visé ci-dessus. 
		</p>

</div>