---
title: Foire aux questions - Unit 
---

<div id="questions" class="container padded bg-white text-designed">
	<h2 class="text-center">Foire aux questions</h2>

<div class="text-justify">
	<h3 class="padded-top">Comment fonctionne UNIT ?</h3>
		<p>
			UNIT permet de réserver et de participer à une séance de sport groupée, et animée par une personne expérimentée. Le service UNIT est à la carte, c'est-à-dire qu'il ne nécessite aucun engagement ou abonnement. 
		</p>
		<p>
			C'est l'Animateur qui poste sa séance en fonction de ses disponibilités, du lieu ; et bien sûr du sport, du niveau et de l'objectif de la séance. Tu choisis la séance qui te plait, et peut la réserver en ligne grâc eà notre partenaire de paiement sécurisé. Tu rejoins ensuite l'Animateur et les autres Uniters en physique pour 1h30 de bonheur ! 
		</p>

	<h3 class="padded-top">Quels sont les sports proposés ?</h3>
		<p>
			L'obejctif est de proposer à temre le plus de sports différents possibles, et que les Uniters puissent découvrir ou pratiquer n'importe quel sport quand ils le souhaitent ! Cependant, pour le moment, nous avons une liste non-exhaustive de sports pour lesquels il y aura des séances régulièrement : 
		</p>
		<ul>
			<li>Basketball</li>
			<li>Rugby</li>
			<li>Football</li>
			<li>Fitness / musculation</li>
			<li>Yoga</li>
			<li>Danse (tout type)</li>
			<li>Vélo</li>
			<li>Sports de combat</li>
			<li>Sports de raquette</li>
			<li>Running</li>
			<li>Crossfit</li>
		</ul>
		<p>
			Cette liste est non exhaustive, et à vocation à évoluer en fonction des compétences des Animateurs, libres de proposer le sport qu'ils veulent en fonction de leur diplôme.
		</p>

	<h3 class="padded-top">Où se déroulent les séances ?</h3>
		<p>
			C'est l'Animateur qui décide du lieu de la séance lorsqu'il la poste : les infrastructures peuvent être publiques, mais l'Animateur peut vous faire bénéficier d'infrastructures privées s'il y a accès. La plupart des séances se font en extérieur et en ville, dans des parcs ou sur les quais. Pour l'instant, les séances se déroulent à Lyon et sa périphérie. 
		</p>
	
	<h3 class="padded-top">Comment participer à une séance ?</h3>
		<p>
			Pour participer à l'une de nos séances, il faut être majeur et capable juridiquement. Si ces deux conditions sont remplies, il suffit de remplir le questionnaire prévu à cet effet sur notre <a href="http://www.unit-sport.fr">Site Internet</a>. 
		</p>
	
	<h3 class="padded-top">Combien coûte une séance ?</h3>
		<p>
			Lorsque tu remplis le questionnaire de participation à une séance, ce qui sera le cas temps que l'app ne sera pas sortie, nous te demanderons une participation de 6 € par séance. Le paiement s'effectue en ligne, dans notre questionnaire, de manière sécurisée : c'est notre partenaire de paiement Stripe qui s'occupe du reste !
		</p>

	<h3 class="padded-top">Combien de temps dure une séance ?</h3>
		<p>
			Les séances sont standardisées et durent toujours 1h30 tout compris, de la prise de contact au retour au calme, en passant par l'échauffement ou les jeux ludiques. 
		</p>

	<h3 class="padded-top">Puis-je réserver à la dernière minute ?</h3>
		<p>
			Tu as la possibilité de réserver jusqu'à trente minutes avant le début de la séance en fonction des places disponibles.
		</p>

	<h3 class="padded-top">Puis-je réserver plusieurs places ?</h3>
		<p>
			Tu peux réserver toutes les places disponibles pour la séance si tu le souhaites, jusqu'à 8 donc. Mais tu peux aussi bien entendu venir seul : UNIT te permettra de rencotnrer des potes !
		</p>

	<h3 class="padded-top">Que se passe-t-il après ma réservation ?</h3>
		<p>
			Tu recevras un mail de confirmation après que tu aies rempli le questionnaire, et tu n'as plus qu'à aller t'amuser !
		</p>

	<h3 class="padded-top">Comment faire si je ne peux plus venir ?</h3>
		<p>
			Dans tous les cas, essaye de nous nous prévenir dès que possible ! Mieux vaut prévenir que guérir : si tu nous préviens plus de 24h avant le début de la séance, tu auras la possibilité de participer à une autre séance sans frais, ou de te faire rembourser. Cependant, si tu préviens moins de 24h avant, tu n'auras plus ses possibilités : il vaut mieux se débrouiller pour venir ou envoyer un de tes potes à ta place !	
		</p>

	<h3 class="padded-top">Qui sont les Animateurs ?</h3>
		<p>
			Nos Animateurs sont pour la plupart encore étudiants, mais ont tous un diplôme au minimum égal au DEUG de STAPS qui leur permet d'encadrer une activité sportive contre rémunération ! Ce diplôme leur permet d'avoir une carte professionnelle délivrée par le ministère de la jeunesse et du sport, dont la possession est l'une des conditions pour devenir Animateur sur UNIT. Nous prenons soin de vérifier que chaque Animateur est bien titulaire d'un diplôme avant de valider son compte et lui permettre de poster des séances !
		</p>
		<p>
			Les Animateurs doivent également avoir un statut de micro-entrepreneur afin de déclarer leur activité. UNIT ne les engage pas et ne leur propose pas de travail : ils sont libres de travailler quand ils veulent, et de poster des séances quand ils sont disponibles. UNIT ne conclue avec eux aucun contrat d'exclusivité, et ils sotn libres de donner des séances en dehors de la plateforme.
		</p>

</div>

</div>